snippet ppcr
	/* Copyright © 2015 PitchPlay Inc.
	 * 
	 * See the LICENCE file distributed with this work for additional
	 * information regarding copyright ownership.
	 */
endsnippet
# vim:ft=snippets:
